<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <processors>
      <uiUpload>
          <processor mode="on" type="Sitecore.Pipelines.Upload.Save, Sitecore.Kernel" >
              <patch:attribute name="type">Sitecore.Support.Pipelines.Upload.Save, Sitecore.Support.354533</patch:attribute>
          </processor>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>